<main class="container-fluid">
  <div class="container">
    <div class="main_row row">
      <div class="main_wrapper">
        <div class="box_base">
          <p class="edit_header">日記を編集する</p>

            <%= render 'form', blog: @blog %>

          <p class="edit_back"><%= link_to '戻る', blogs_path %></p>
        </div>
      </div>
    </div>
  </div>
</main>
