<main class="container-fluid">
  <div class="container">
    <div class="main_row row">
      <div class="main_wrapper">
        <div class="user_box_base">

          <% if @user.image.thumb.url %>
              <%= image_tag @user.image.thumb.url, class: "user_show_image" %>
          <% end %>

          <div class="name_and_email">
            <p>
              <strong>Name:</strong>
              <%= @user.name %>
            </p>
            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
          </div>
          <% if current_user.id == @user.id %>
            <div class="user_show_bottuns">
              <%= link_to edit_user_path(current_user.id) do %>
                <button type="button" class="btn btn-edit">edit</button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
