.user_box_base {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px #686868;
}
.signup {
  line-height: 60px;
  font-size: 2.5rem;
  font-weight: 800px;
  padding: 20px 0 0 5px;
  font-family: Impact,Charcoal;
}
.signup_header {
  padding-top: 20px;
  font-weight: 600;
  font-size: 2.5rem;
}
#user_table {
  width: 70%;
}
#user_table th {
  width: 30%;
}
#user_table_button {
  padding: 10px 0 30px 0;
}
.signup_button {
  padding: 10px 0 20px 0;
}
.user_show_name {
  font-size: 2rem;
  padding-top: 100px;
}
.user_show_email {
  font-size: 2rem;
  padding: 30px 0 100px 0;
}
.user_show_bottuns {
  padding-bottom: 20px;
}
/*show*/
.user_show_image {
  margin: 20px auto;
  border: solid 1px;
}
.name_and_email {
  padding: 15px 0;
}
.user_show_bottuns {
  margin-bottom: 20px;
}
.btn-edit {
  color: white;
  background-color: #faa550;
}
.btn-edit:hover {
  color: white;
  opacity: 0.7;
}
/*edit*/
.edit_img {
  margin: 25px auto 15px 0;
}
.edit_back {
  padding: 0 0 15px 0;
}
/*login*/
.login_header {
  line-height: 60px;
  font-size: 2.5rem;
  font-weight: 800px;
  padding: 30px 0 10px 5px;
  font-family: Impact,Charcoal;
}
